// Simple classes
.relative{
    position: relative;
}
.p-0{
    padding: 0 !important;
}
.m-0{
    margin: 0 !important
}
.hidden{
    display: none;
}
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

// Flex
.flex-align{
    @include flex-align(1 1 auto);
}

// Mobile only
@include media($sm,'min'){
    .mobile-only{
        display: none;
    }
}
// Desktop Only
@include media($md,'max'){
    .desktop-only{
        display: none;
    }
}

// More complex classes
.container{
    width: 1091px;
    margin: 0 auto;
    @include media($md,'max'){
        width: 100%;
        margin: 0;
    }
}


ul.__simple {
    list-style: none;
    li {
        padding: 6px 0;
    }
}