@import '../../../styles/_vars.scss';
@import '../../../styles/_mixins.scss';

.repo-info-list {
    &.__card {
        @include flex-align(0 1 25%);
        flex-wrap: wrap;
        justify-content: space-between;

        & > li  {
            border-radius: 6px;
            box-shadow: 0 2px 3px 1px rgba($black, .1);
            padding: 25px 15px 10px 15px;
            position: relative;
        }
        .card {
            &-name {
                display: block;
                font-size: 19px;
            }
            &-count-information {
                position: absolute;
                right: 10px;
                top: 3px;
                & > * {
                    display: inline-block;
                    font-size: 12px;
                }
            }
        }
        .card-information-description {
            display: inline-block;
            margin-right: -2px;
            margin-left: 8px;
        }
    }
    & > li {
        margin: 10px 25px;
        display: inline-block;
    }
    &.__list {
        & > li  {
            display: block;
            border-bottom: 1px solid $light-gray;
            padding: 20px 0;
            position: relative;
            margin: 0;
            display: flex;
        }
        .card {
            &-name {
                display: block;
                font-size: 19px;
                flex: 1 1 33%;
            }
            &-count-information {
                @include flex-align(1 1 50%);
                flex: 1 1 66%;
                // & > * {
                // }
            }
        }
        .card-information-description {
            display: none;
        }
    }
}

.repi-info-list-header {
    @include flex-align(1 1 33%);

    margin-top: 10px;
    color: $white;
    background-color: $primary;
    text-align: center;
    font-size: 16px;
    & > li {
        padding: 5px 10px;
        
        &:nth-child(2) {
            border-left: 1px solid $white;
            border-right: 1px solid $white;
        }
    }
}