<div class="page-background bg-primary" [style.minHeight]="windowMinHeight">
  <div class="centered-container">
      <div class="relative">
          <div class="logo">
              <span class="icon icon-logo"></span>
          </div>
      </div>
      <div class="centered-container-body">
        <div class="text">
            Logue-se para exibir seus repositórios
        </div>
          <a  href="https://github.com/login/oauth/authorize?scope=user:email&client_id=c63b5ef5b81e7610914a"
              class="btn btn-github bg-black">
              Logar-se com o 
              <span class="icon icon-github"></span>
        </a>
          <!--<button class="btn btn-github bg-black" (click)="login()">Login</button>-->
      </div>
  </div>
</div>